    /*retira qualquer margem*/
* {
    margin: 0px;
    padding: 0px;

}
    /*todos os paragrafos*/
p {
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

    /*CRIANDO A BARRA LATERAL*/
.lateral {
    background-color: #619bc3;
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    text-align: center;
    color: white;
    


}
    /*BOTOES MENU LATERAL*/
.menu {
    padding: 15px;
    width: 90%;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    font-size: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
  
}
    /*AJUSTAR LOCAL DO BOTAO SAIR*/
    .sair {
        margin-top: auto;
        margin-top: 135%;
    }

    /*EDITANDO OS LINKS*/
  a{
    text-decoration: none; 
    color: black;
  }
    /* MUDA OQUE APARECE NO BOTAO QUANDO PASSO O MOUSE POR CIMA*/
 button:hover{
    background-color: rgba(81, 192, 243, 0.267);
    cursor: pointer;
    }


    .menu:hover{
    background-color: #004aad;
    cursor: pointer;
    color: rgb(211, 60, 60);

    }


    /*TUDO OQUE TA DENTRO DE MAIN*/
    main {
        padding-top: 28px;
        margin-left: 160px;
    }
    
body {
    background-color: #004aad;
}

    /*CABEÇALHO "ESTOQUE AGIL"*/
.cabecalho {
    color: white;
    text-align: center;
    font-size: 30px;
    display: flex;  
    justify-content: center;
    align-items: center; 
    gap: 15%;
    transform: translate(0%, -20%);
}

        /*TODAS AS IMAGENS QUE NAO TEJA EM UMA DIV/BOTAO*/
img {
    height: 55px;
}
    /*altera a div opcao*/
.opcao{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center; 

    
}
    /*editar os botoes*/
.botoes {
    width: 200px;
    height: 160px;
    background-color: #619bc3; 
    border-radius: 20px; 
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    font-size: 23px;
    gap: 20px;
    color: white;
    border: none;
    
}

    /*imagens dentro dos botoes com a classe img1*/
 .img1 {
    height: 40%;
    width: 40%;
    margin-top: 10px;
    margin-bottom: -10px;

  }
