/* Reseta margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #004aad;
}

/* Cabeçalho fixo no topo */
header.cabecalho {
    background-color: #adb2b9;
    position: fixed;
    top: 0;
    left: 20;
    width: 90%;
    padding: 15px;
    z-index: 1000; /* Garante que o cabeçalho fique acima de outros elementos */
    display: flex;
    justify-content: center;
    align-items: right;
    gap: 10px;
}

header.cabecalho h1 {
    color: white;
    font-size: 30px;
}

header.cabecalho .logo {
    height: 55px;
}

/* Barra Lateral */
.lateral {
    background-color: #619bc3;
    height: 100vh; /* Preenche a altura toda da tela */
    width: 180px;
    position: fixed;
    top: 80px; /* A barra lateral começa abaixo do cabeçalho fixo */
    left: 0;
    z-index: 1;
    text-align: center;
    color: white;
    padding-top: 20px;
}

/* Botões da Barra Lateral */
.menu {
    padding: 15px;
    width: 90%;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    font-size: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

/* Ajustar local do botão "SAIR" */
.sair {
    margin-top: auto;
    margin-top: 110%;
}

/* Links na Barra Lateral */
a {
    text-decoration: none; 
    color: black;
}

/* Efeito de Hover nos Botões */
button:hover {
    background-color: rgba(81, 192, 243, 0.267);
    cursor: pointer;
}

.menu:hover {
    background-color: #004aad;
    cursor: pointer;
    color: white;
}

/* Conteúdo Principal */
main {
    margin-left: 200px; /* Deixa espaço para a barra lateral */
    padding-top: 100px; /* Espaço para o cabeçalho */
    padding: 50px;
    color: white;
}

/* Formatação do conteúdo dentro de main */
.content {
    text-align: center;
    padding: 20px;
}
