body{
    background-color: #004aad;
   } 
   div {
    background-color: rgba(0, 0, 0, 0.568);
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    padding: 60px;
    padding-left: 140px; padding-right: 140px;
    border-radius: 15px;
    color: white;
   }
  input {
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 15px;

  }
  button {
    padding: 15px;
    background-color: #004aad;
    border: none;
    border-radius: 15px;
    width: 100%;
    color: rgba(0, 0, 0, 0.568);
    font-size: 20px;
    color: white;
  }
    button:hover{
  background-color: rgb(185, 247, 247);
  cursor: pointer;
  color: black;
  }
  a {
    color: white;
   text-align: center;

  }