/*retira qualquer margem*/
* {
    margin: 0px;
    padding: 0px;
}

/*todos os paragrafos*/
p {
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

/*CRIANDO A BARRA LATERAL*/
.lateral {
    background-color: #619bc3;
    height: 110%;
    width: 180px;
    position: fixed;
    z-index: 1;
    text-align: center;
    color: white;
}

/*BOTOES MENU LATERAL*/
.menu {
    padding: 15px;
    width: 90%;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    font-size: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

/*AJUSTAR LOCAL DO BOTAO SAIR*/
.sair {
    margin-top: auto;
    margin-top: 110%;
}

/*EDITANDO OS LINKS*/
a {
    text-decoration: none;
    color: black;
}

/* MUDA OQUE APARECE NO BOTAO QUANDO PASSO O MOUSE POR CIMA*/
button:hover {
    background-color: rgba(81, 192, 243, 0.267);
    cursor: pointer;
}

.menu:hover {
    background-color: #004aad;
    cursor: pointer;
    color: white;
}

body {
    background-color: #004aad;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

/*CABEÇALHO "ESTOQUE AGIL"*/
.cabecalho {
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
    padding-top: 30px; 
}

/*TODAS AS IMAGENS QUE NAO TEJA EM UMA DIV/BOTAO*/
img {
    height: 55px;
}

/*altera a div opcao*/
.opcao {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

/*editar os botoes*/
.botoes {
    width: 200px;
    height: 160px;
    background-color: #619bc3;
    border-radius: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    font-size: 23px;
    gap: 20px;
    color: white;
    border: none;
}

/*imagens dentro dos botoes com a classe img1*/
.img1 {
    height: 40%;
    width: 40%;
    margin-top: 10px;
    margin-bottom: -10px;
}

main {
    margin-top: -15px;
    margin-left: 160px;
}    

.formulario h1 {
    text-align: center;
}

.formulario {
    background-color: #619bc3;
    position: absolute;
    top: 45%; /* Ajusta a posição do formulário abaixo do cabeçalho */
    left: 20%;
    transform: translate(-50%, -25%);
    padding: 50px;
    width: 100%; /* Ajusta a largura para ser mais responsiva */
    max-width: 600px; /* Define um tamanho máximo */
    border-radius: 15px;
    color: white;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    align-items: center;
    max-height: 100%;
}

.submit {
    padding: 2vw; /* Usa unidades relativas ao tamanho da tela */
    background-color: #004aad;
    border: none;
    border-radius: 15px;
    width: 100%; /* Garante que o botão ocupe toda a largura disponível do formulário */
    color: rgba(0, 0, 0, 0.568);
    font-size: 2vw; /* Ajusta o tamanho da fonte de forma responsiva */
    color: rgb(0, 0, 0);
    box-sizing: border-box; /* Garante que o botão ocupe o espaço de maneira correta */
}

.submit:hover {
    background-color: rgb(185, 247, 247);
    cursor: pointer;
    color: black;
}